parameters:
    level: max
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/

    # https://phpstan.org/config-reference#vague-typehints
#    checkMissingIterableValueType: false

    symfony:
        containerXmlPath: var/cache/test/App_KernelTestDebugContainer.xml
    doctrine:
        objectManagerLoader: tests/object-manager.php
    scanDirectories:
        - var/cache/test/Symfony/Config

    # @see https://phpstan.org/user-guide/stub-files
    stubFiles:
        - tests/stubs/Doctrine/AbstractQuery.stub

    ignoreErrors:
        -
            message: "#Method App\\\\Tests\\\\[a-zA-Z0-9\\\\:\\(\\)]+ return type has no value type specified in iterable type iterable#"
            path: tests/*
